[submodule "Modules/posh-alias"]
	path = Modules/posh-alias
	url = https://github.com/giggio/posh-alias
[submodule "Themes/my-themes"]
	path = Themes/my-themes
	url = https://github.com/jfbueno/omp-themes.git
