[core]
    pager = delta
    editor = code --wait

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3

[grep]
    lineNumber = true

[alias]
    wdiff = diff --word-diff
    stasha = stash --all
    co = checkout
    sw = switch
    br = branch
    st = status
    rb = rebase
    rbi = rebase -i
    l = log --oneline --color
    lg = log --graph --oneline --decorate
    f = fetch
    p = push
    pushsync = push --set-upstream origin HEAD
    fush = push --force-with-lease

[rerere]
    enabled = true

[diff]
    colorMoved = default
[credential "https://git.cwi.com.br"]
	provider = generic
